@font-face {
    font-family: 'google';
    src: url('/assets/font/GoogleSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: google;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

nav ul img{
    width: 20px;
}

*{
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
}

nav li a{
    font-size: 90%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
    transition-duration: 0.2s;
}

nav li a:hover{
    cursor: pointer;
    color: rgb(39, 140, 255);
}

/* Keindra Part */
.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.store .product{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 20px;
    width: 70%;
}
.store .product h1{
    text-align: center;
    margin-bottom: 50px;
}
.store .product .row{
    height: 400px;
    gap: 20px;
    display: flex;
    width: 1000px;
}
.store .product .scroll{
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
}
.store .product .scroll .row .card{
    text-align: center;
    width: 1000px;
    height: 100%;
    background: none;
    border-radius: 10px;
}
.store .product .scroll .row .card p{
    font-size: 80%;
    margin: 0;
}
.store .product .scroll .row .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.store .product .scroll .row .card button{
    font-size: 12px;
    margin-top: 50px;
    background: none;
    color: #000000;
    border: solid black 1px;
    border-radius: 2px;
    cursor: pointer;
    width: 70%;
    height: 25px;
    transition: 0.2s;
    font-family: google;
}
.store .product .scroll .row .card button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
